<!DOCTYPE html>
<html dir="ltr" lang="en">
@Html.Partial("layout/Header")

<body>
    @Html.Partial("layout/TopBar")
    @Html.Partial("layout/LeftBar")
    <style>
        #table-data tr th{
            background-color: #34b7eb;
            color: black;
            font-size: 16px;
            padding: 0px;
            text-align: center;
            border: 1px solid #d7d7d7;
            text-align: center;
        }
        #table-data tr td{
            color: black;
            text-align: center;
            border: 1px solid #d7d7d7;
            padding-top: 3px;
        }
        #table-data{
            background-color: white;
        }
    </style>
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        @* <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Tables</h4>
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Library
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div> *@
        <div style="overflow: scroll;">
            <table class="table" id="table-data" data-show-columns="true" style="overflow: scroll;">
                <thead>
                    <th>STT</th>
                    <th style="min-width: 200px;">TÊN NHÀ CUNG ỨNG</th>
                    <th style="min-width: 150px;">MÃ SỐ THUẾ</th>
                    <th style="min-width: 200px;">ĐỊA CHỈ</th>
                    <th style="min-width: 150px;">ĐIỆN THOẠI</th>
                    <th style="min-width: 150px;">SỐ TÀI KHOẢN</th>
                    <th style="min-width: 150px;">NGÂN HÀNG</th>
                    <th style="min-width: 230px;">CHI NHÁNH NGÂN HÀNG</th>
                    <th>ACTION</th>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
        <div style="display: flex;">
            <a href="nha-cung-ung/create">
                <button type="button" class="btn btn-primary" style="margin-bottom: 5px; margin-left: 10px;">
                    Thêm mới nhà cung ứng
                </button>
            </a>
            <ul id="pagination" class="pagination"></ul>
            @if (ViewBag.countRestore > 0)
            {
            <a href="nha-cung-ung/restore" style="float: right">
                <button type="button" class="btn btn-primary" style="margin-bottom: 5px; margin-left: 10px;">
                    Khôi phục nhà cung ứng
                </button>
            </a>
            }
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    @Html.Partial("layout/Footer")
    <script>
        {
            function handleClickNhaCungUng(id, nhaVatTu){
                Swal.fire({
                    title: `Bạn xem chi tiết hay danh sách vật tư của ${nhaVatTu}?`,
                    showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonText: 'Xem chi tiết',
                    denyButtonText: `Xem danh sách vật tư`,
                    }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {
                        window.location.href = `/nha-cung-ung/edit?id=${id}`;
                    } else if (result.isDenied) {
                        window.location.href = `/nha-cung-ung/danh-sach-vat-tu?id=${id}`;
                    }
                })
            }
            let count = @ViewBag.count;
            
            totalPages = count % 10==0 ? Math.floor(count/10) : Math.floor(count/10)+1;
            console.log(count);
            // Cấu hình twbsPagination
            var options = {
            totalPages: totalPages, // Tổng số trang
            visiblePages: 5, // Số trang hiển thị trên thanh phân trang
            onPageClick: function (event, page) {
                let paginate = +(page - 1)*10; 
                $.ajax({
                    url: host + `/api/nha-cung-ung?index=${paginate}&isDeleted=false`
                })
                .done(res=>{
                    let rows = "";
                    for(let i=0; i<res.length; i++){
                        let j = i;
                        let row = `
                            <tr>
                                <td>${++j}</td>
                                <td><a href="#" onclick="handleClickNhaCungUng(${res[i].id}, '${res[i].tenNhaCungUng}')">${res[i].tenNhaCungUng||""}</a></td>
                                <td>${res[i].maSoThue||""}</td>
                                <td>${res[i].diaChi||""}</td>
                                <td>${res[i].dienThoai||""}</td>
                                <td>${res[i].soTaiKhoan||""}</td>
                                <td>${res[i].nganHang||""}</td>
                                <td>${res[i].chiNhanhNganHang||""}</td>
                                <td>
                                    <button type="button" class="btn btn-danger" onclick="softDelete(${res[i].id}, '${res[i].tenNhaCungUng}')">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>`;
                        rows+=row;
                    }
                    $("#table-data tbody").html(rows);
                })
                .fail(err => {
                    console.log(err);
                })
            }
            };

            // Áp dụng twbsPagination vào phần tử phân trang
            $('#pagination').twbsPagination(options);
            let userId = 0;
            function softDelete(id, nhaCungUng){
                Swal.fire({
                    title: 'Alert?',
                    text: `Bạn có chắc muốn xóa nhà cung ứng ${nhaCungUng}`,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',      
                    confirmButtonText: 'Xóa'
                    }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: host + `/api/nha-cung-ung?id=${id}&userId=${userId}`,
                            method: "DELETE"
                        })
                        .done(res=>{
                            Swal.fire(
                            'Xóa thành công',
                            `Xóa nhà cung ứng ${nhaCungUng}`,
                            'success'
                            );
                            location.reload();
                        })
                        .fail(err=>{
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Xóa thất bại',
                                footer: ''
                            })
                        })
                    }
                })
            }
        }
        
    </script>
</body>
<html>
