<!DOCTYPE html>
<html dir="ltr" lang="en">
@Html.Partial("layout/Header")

<body>
    @Html.Partial("layout/TopBar")
    @Html.Partial("layout/LeftBar")
    <style>
        #table-data tr th{
            background-color: #34b7eb;
            color: black;
            font-size: 16px;
        }
        #table-data tr td{
            color: black
        }
    </style>
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        @* <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Tables</h4>
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Library
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div> *@
        <div style="overflow: scroll;">
            <table class="table" id="table-data" data-show-columns="true">
                <thead>
                    <th style="width: 100px;">STT</th>
                    <th style="width: 400px;">TÊN NHÀ CUNG ỨNG</th>
                    <th>ACTION</th>
                </thead>
                <tbody>
                    @* @{int id = 1;}
                    @foreach(var item in ViewBag.result){
                        <tr>
                            <td>@id</td>
                            <td><a href="nha-cung-ung/edit?id=@item.Id">@item.Name</a></td>
                            <td>
                                <button type="button" class="btn btn-danger" onclick="softDelete(@item.Id, '@item.Name')">
                                    Khôi phục
                                </button>
                            </td>
                        </tr>
                        id++;
                    } *@
                </tbody>
            </table>
        </div>
        @if(ViewBag.count > 0){
            <ul id="pagination" class="pagination"></ul>
        }
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    @Html.Partial("layout/Footer")
    <script>
        {
            let count = @ViewBag.count;
            let userId = 0;
             totalPages = Math.floor(count/10)+1;
            // Cấu hình twbsPagination
            var options = {
            totalPages: totalPages, // Tổng số trang
            visiblePages: 5, // Số trang hiển thị trên thanh phân trang
            onPageClick: function (event, page) {
                let paginate = +(page - 1)*10; 
                $.ajax({
                    url: host + `/api/nha-cung-ung?index=${paginate}&isDeleted=true`
                })
                .done(res=>{
                    let rows = "";
                    for(let i=0; i<res.length; i++){
                        let j = i;
                        let row = `
                            <tr>
                                <td>${++j}</td>
                                <td><a href="nha-cung-ung/edit?id=${res[i].id}">${res[i].tenNhaCungUng}</a></td>
                                <td>
                                    <button type="button" class="btn btn-danger" onclick="restore(${res[i].id}, '${res[i].tenNhaCungUng}')">
                                        Khôi phục
                                    </button>
                                </td>
                            </tr>`;
                        rows+=row;
                    }
                    $("#table-data tbody").html(rows);
                })
                .fail(err => {
                    console.log(err);
                })
            }
            };
            // Áp dụng twbsPagination vào phần tử phân trang
            $('#pagination').twbsPagination(options);
            function restore(id, nhaCungUng){
                Swal.fire({
                    title: 'Alert?',
                    text: `Bạn có chắc muốn khôi phục nhà cung ứng ${nhaCungUng}`,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Khôi phục'
                    }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: host + `/api/nha-cung-ung/restore?id=${id}&userId=${userId}`,
                            method: "PUT"
                        })
                        .done(res=>{
                            Swal.fire(
                            'Xóa thành công',
                            `Xóa nhà cung ứng ${nhaCungUng}`,
                            'success'
                            );
                            location.reload();
                        })
                        .fail(err=>{
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Xóa thất bại',
                                footer: ''
                            })
                        })
                    }
                })
            }
        }
    </script>
</body>
<html>
