<!DOCTYPE html>
<html dir="ltr" lang="en">
@Html.Partial("layout/Header")

<body>
  @Html.Partial("layout/TopBar")
  @Html.Partial("layout/LeftBar")
  <style>
    #table-data tr th {
      background-color: #34b7eb;
      color: black;
      font-size: 16px;
    }
    
    #table-data tr td {
      color: black
    }
  </style>
  <div class="page-wrapper" style="overflow: scroll;">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    @* <div class="page-breadcrumb">
    <div class="row">
    <div class="col-12 d-flex no-block align-items-center">
    <h4 class="page-title">Tables</h4>
    <div class="ms-auto text-end">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">
    Library
    </li>
    </ol>
    </nav>
    </div>
    </div>
    </div>
    </div> *@
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <form class="form-horizontal">
              <div class="card-body">
                <h4 class="card-title">Cập nhật thông tin nhà cung ứng</h4>
                <div class="form-group row">
                  @* name *@
                  <div class="row mb-3 align-items-center">
                    <div class="col-lg-4 col-md-12 text-end">
                      <span class="" id="label-ten-nha-cung-ung">Tên nhà cung ứng</span>
                    </div>
                    <div class="col-lg-8 col-md-12">
                      <input value="@ViewBag.result.TenNhaCungUng" type="text" class="form-control" id="input-ten-nha-cung-ung" placeholder="Tên nhà cung ứng" oninput="changeData('ten-nha-cung-ung')" />
                      <div class="invalid-feedback" id="err-ten-nha-cung-ung">
                        
                      </div>
                    </div>
                  </div>
                   @* ten viet tat *@
                  <div class="row mb-3 align-items-center">
                    <div class="col-lg-4 col-md-12 text-end">
                      <span class="" id="label-ten-viet-tat">Tên viết tắt</span>
                    </div>
                    <div class="col-lg-8 col-md-12">
                      <input value="@ViewBag.result.TenVietTat" type="text" class="form-control" id="input-ten-viet-tat" placeholder="VD: HUEWACO, TANLOCPHAT" oninput="changeData('ten-viet-tat')" />
                      <div class="invalid-feedback" id="err-ten-viet-tat">
                        
                      </div>
                    </div>
                  </div>
                  @* nguoi dai dien *@
                  <div class="row mb-3 align-items-center">
                    <div class="col-lg-4 col-md-12 text-end">
                      <span class="" id="label-nguoi-dai-dien">Người đại diện</span>
                    </div>
                    <div class="col-lg-8 col-md-12">
                      <input value="@ViewBag.result.NguoiDaiDien" type="text" class="form-control" id="input-nguoi-dai-dien" placeholder="Người đại diện" oninput="changeData('nguoi-dai-dien')" />
                      <div class="invalid-feedback" id="err-nguoi-dai-dien">
                        
                      </div>
                    </div>
                  </div>
                  @* gioi tinh nguoi dai dien *@
                  <div class="row mb-3 align-items-center">
                    <div class="col-lg-4 col-md-12 text-end">
                      <span class="" id="label-gioi-tinh-nguoi-dai-dien">Giới tính người đại diện</span>
                    </div>
                    <div class="col-lg-8 col-md-12">
                      <select onchange="changeData('gioi-tinh-nguoi-dai-dien')" class="form-select" id="input-gioi-tinh-nguoi-dai-dien">
                          <option value="" disabled selected>---Chọn giới tính người đại diện---</option>
                          <option value=true>Nam</option>
                          <option value=false>Nữ</option>
                      </select>
                      <div class="invalid-feedback" id="err-gioi-tinh-nguoi-dai-dien">
                        
                      </div>
                    </div>
                  </div>
                  @* chuc vu *@
                  <div class="row mb-3 align-items-center">
                    <div class="col-lg-4 col-md-12 text-end">
                      <span class="" id="label-chuc-vu">Chức vụ</span>
                    </div>
                    <div class="col-lg-8 col-md-12">
                      <input value="@ViewBag.result.ChucVu" type="text" class="form-control" id="input-chuc-vu" placeholder="Chức vụ" oninput="changeData('chuc-vu')" />
                      <div class="invalid-feedback" id="err-chuc-vu">
                        
                      </div>
                    </div>
                  </div>
                  @* dia chi *@
                  <div class="row mb-3 align-items-center">
                    <div class="col-lg-4 col-md-12 text-end">
                      <span class="" id="label-dia-chi">Địa chỉ</span>
                    </div>
                    <div class="col-lg-8 col-md-12">
                      <input value="@ViewBag.result.DiaChi" type="text" class="form-control" id="input-dia-chi" placeholder="Địa chỉ" oninput="changeData('dia-chi')" />
                      <div class="invalid-feedback" id="err-dia-chi">
                        
                      </div>
                    </div>
                  </div>
                  @* ma-so-thue *@
                  <div class="row mb-3 align-items-center">
                    <div class="col-lg-4 col-md-12 text-end">
                      <span class="" id="label-ma-so-thue">Mã số thuế</span>
                    </div>
                    <div class="col-lg-8 col-md-12">
                      <input value="@ViewBag.result.MaSoThue" type="text" class="form-control" id="input-ma-so-thue" placeholder="Mã số thuế" oninput="changeData('ma-so-thue')" />
                      <div class="invalid-feedback" id="err-ma-so-thue">

                      </div>
                    </div>
                  </div>
                  @* dien-thoai *@
                  <div class="row mb-3 align-items-center">
                    <div class="col-lg-4 col-md-12 text-end">
                      <span class="" id="label-dien-thoai">Điện thoại</span>
                    </div>
                    <div class="col-lg-8 col-md-12">
                      <input value="@ViewBag.result.DienThoai" type="text" class="form-control" id="input-dien-thoai" placeholder="VD: 0234.3536002, 02343536002" oninput="changeData('dien-thoai')" />
                      <div class="invalid-feedback" id="err-dien-thoai">

                      </div>
                    </div>
                  </div>
                   @* dien-thoai-di-dong *@
                  <div class="row mb-3 align-items-center">
                    <div class="col-lg-4 col-md-12 text-end">
                      <span class="" id="label-dien-thoai-di-dong">Điện thoại di động</span>
                    </div>
                    <div class="col-lg-8 col-md-12">
                      <input value="@ViewBag.result.DienThoaiDiDong" type="text" class="form-control" id="input-dien-thoai-di-dong" placeholder="VD: 0898156623" oninput="changeData('dien-thoai-di-dong')" />
                      <div class="invalid-feedback" id="err-dien-thoai-di-dong">

                      </div>
                    </div>
                  </div>
                  @* so-tai-khoan *@
                  <div class="row mb-3 align-items-center">
                    <div class="col-lg-4 col-md-12 text-end">
                      <span class="" id="label-so-tai-khoan">Số tài khoản</span>
                    </div>
                    <div class="col-lg-8 col-md-12">
                      <input value="@ViewBag.result.SoTaiKhoan" type="text" class="form-control" id="input-so-tai-khoan" placeholder="Số tài khoản" oninput="changeData('so-tai-khoan')" />
                      <div class="invalid-feedback" id="err-so-tai-khoan">

                      </div>
                    </div>
                  </div>
                  @* ngan-hang *@
                  <div class="row mb-3 align-items-center">
                    <div class="col-lg-4 col-md-12 text-end">
                      <span class="" id="label-so-tai-khoan">Ngân hàng</span>
                    </div>
                    <div class="col-lg-8 col-md-12">
                      <input value="@ViewBag.result.NganHang" type="text" class="form-control" id="input-ngan-hang" placeholder="Ngân hàng" oninput="changeData('ngan-hang')" />
                      <div class="invalid-feedback" id="err-ngan-hang">

                      </div>
                    </div>
                  </div>
                  @* chi-nhanh-ngan-hang *@
                  <div class="row mb-3 align-items-center">
                    <div class="col-lg-4 col-md-12 text-end">
                      <span class="" id="label-so-tai-khoan">Chi nhánh ngân hàng</span>
                    </div>
                    <div class="col-lg-8 col-md-12">
                      <input value="@ViewBag.result.ChiNhanhNganHang" type="text" class="form-control" id="input-chi-nhanh-ngan-hang" placeholder="Chi nhánh ngân hàng" oninput="changeData('chi-nhanh-ngan-hang')" />
                      <div class="invalid-feedback" id="err-chi-nhanh-ngan-hang">

                      </div>
                    </div>
                  </div>
                  
                  <div class="border-top">
                    <div class="card-body">
                      <button id="update-nha-cung-ung" type="button" class="btn btn-primary" onclick="update()">
                        Cập nhật
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    @Html.Partial("layout/Footer")
    <script>
      {
        let gioiTinhNguoiDaiDien = @Html.Raw(Json.Serialize(ViewBag.result.GioiTinhNguoiDaiDien));
        $("#input-gioi-tinh-nguoi-dai-dien").val(`${gioiTinhNguoiDaiDien==null?"":gioiTinhNguoiDaiDien}`);
        const spinner = `<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>`
        const urlParams = new URLSearchParams(window.location.search);
        const id = urlParams.get('id');
        let formatError = {
          "required": [
            {"ten-nha-cung-ung": "Tên nhà cung ứng không được để trống"},
            {"ten-viet-tat": "Tên viết tắt không được để trống"},
            {"nguoi-dai-dien": "Người đại diện không được để trống"},
            {"chuc-vu": "Chức vụ không được để trống"},
            {"gioi-tinh-nguoi-dai-dien": "Giới tính người đại diện không được để trống"}
          ],
          "phone":[
            {"dien-thoai": "Số điện thoại không đúng định dạng"}
          ],
          "mobile":[
            {"dien-thoai-di-dong": "Số điện thoại di động không đúng định dạng"}
          ],
          "viettat":[
            {"ten-viet-tat": "Tên viết tắt không đúng định dạng"}
          ]
        }
        let listError = {
          "ten-nha-cung-ung": "TenNhaCungUng"
        }
        function update() {
          let updateBy = getCookie("id");
          let createdBy = getCookie("id");
          let datas = {
            "UpdateBy": updateBy,
            "Name": $("#input-ten-nha-cung-ung").val().trim(),
            "TenVietTat": $("#input-ten-viet-tat").val().trim()?.toUpperCase(),
            "MaSoThue": $("#input-ma-so-thue").val().trim(),
            "DiaChi": $("#input-dia-chi").val().trim(),
            "DienThoai": $("#input-dien-thoai").val().trim(),
            "DienThoaiDiDong": $("#input-dien-thoai-di-dong").val().trim(),
            "SoTaiKhoan": $("#input-so-tai-khoan").val().trim(),
            "NganHang": $("#input-ngan-hang").val().trim(),
            "ChiNhanhNganHang": $("#input-chi-nhanh-ngan-hang").val().trim(),
            "ChucVu":$("#input-chuc-vu").val().trim(),
            "NguoiDaiDien": $("#input-nguoi-dai-dien").val().trim(),
            "GioiTinhNguoiDaiDien": $("#input-gioi-tinh-nguoi-dai-dien").val()=="true",
            "Id": id
          };
          if(getErrorFromFe()) return;
          $("#update-nha-cung-ung").attr("disabled",true)
          $("#update-nha-cung-ung").html(spinner);
          console.log(datas);
          $.ajax({
            "headers": {
              "Content-Type": "application/json"
            },
            url: host + `/api/nha-cung-ung`,
            method: "PUT",
            data: JSON.stringify(datas)
          })
          .done(res => {
            Swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Cập nhật nhà cung ứng thành công',
              showConfirmButton: false,
              timer: 1500
            });
            $("#update-nha-cung-ung").attr("disabled",false)
            $("#update-nha-cung-ung").html("Cập nhật");
          })
          .fail(err => {
              getErrorFromDB(err.responseText, listError)
              $("#update-nha-cung-ung").attr("disabled",false)
              $("#update-nha-cung-ung").html("Cập nhật");
          })
        }
        //hien thi loi tai front-end
        function getErrorFromFe(){
          let isErr = false;
          for(let key of Object.keys(formatError)){
            if(key=="required"){
              for(let i=0; i<formatError[key].length; i++){
                  let val = $(`#input-${Object.keys(formatError[key][i])[0]}`).val()?.trim();
                  if(val=="" || val==null){
                    $(`#input-${Object.keys(formatError[key][i])[0]}`).addClass("is-invalid");
                    $(`#label-${Object.keys(formatError[key][i])[0]}`).addClass("text-danger");
                    $(`#err-${Object.keys(formatError[key][i])[0]}`).text(`${Object.values(formatError[key][i])[0]}`);
                    isErr = true;
                  }
              }
            }
            if(key=='phone'){
              for(let i=0; i<formatError[key].length; i++){
                  let val = $(`#input-${Object.keys(formatError[key][i])[0]}`).val().trim();
                  if(!(/^0[0-9]{3}\.[0-9]{7}$/.test(val)||/^0[0-9]{3}[0-9]{7}$/.test(val)) && val!=""){
                    $(`#input-${Object.keys(formatError[key][i])[0]}`).addClass("is-invalid");
                    $(`#label-${Object.keys(formatError[key][i])[0]}`).addClass("text-danger");
                    $(`#err-${Object.keys(formatError[key][i])[0]}`).text(`${Object.values(formatError[key][i])[0]}`);
                    isErr = true;
                  }
              }
            }
            if(key=='mobile'){
              for(let i=0; i<formatError[key].length; i++){
                  let val = $(`#input-${Object.keys(formatError[key][i])[0]}`).val().trim();
                  if(!/^0[0-9]{9}$/.test(val) && val!=""){
                    $(`#input-${Object.keys(formatError[key][i])[0]}`).addClass("is-invalid");
                    $(`#label-${Object.keys(formatError[key][i])[0]}`).addClass("text-danger");
                    $(`#err-${Object.keys(formatError[key][i])[0]}`).text(`${Object.values(formatError[key][i])[0]}`);
                    isErr = true;
                  }
              }
            }
            if(key=='viettat'){
              for(let i=0; i<formatError[key].length; i++){
                  let val = $(`#input-${Object.keys(formatError[key][i])[0]}`).val().trim();
                  if(!/^[a-z0-9A-Z]\S*$/.test(val) && val!=""){
                    $(`#input-${Object.keys(formatError[key][i])[0]}`).addClass("is-invalid");
                    $(`#label-${Object.keys(formatError[key][i])[0]}`).addClass("text-danger");
                    $(`#err-${Object.keys(formatError[key][i])[0]}`).text(`${Object.values(formatError[key][i])[0]}`);
                    isErr = true;
                  }
              }
            }
          }
          return isErr;
        }
        //hien thi loi duoc tra tu back-end
        function getErrorFromDB(err, listError){
          let keyErr = err.split(":")[0];
          let contentErr = err.split(":")[1];
          for(let key of Object.keys(listError)){
            if(keyErr==listError[key]){
              $(`#err-${key}`).text(contentErr);
              $(`#input-${key}`).addClass("is-invalid");
              $(`#label-${key}`).addClass("text-danger");
              break;
            }
          }
        }
        
        //remove hien thi loi khi cap nhat lai du lieu
        function changeData(param){
          $(`#err-${param}`).text("");
          $(`#input-${param}`).removeClass("is-invalid");
          $(`#label-${param}`).removeClass("text-danger");
        }
        function addApiCoSan(){
          //goi api ngan hang
          $.ajax({
            url: "https://api.vietqr.io/v2/banks"
          })
          .done(res=>{
              let arr = [];
              res.data.map(item=>{
                  let obj = {
                    value: `${item.name}`,
                    data: item.code
                  }
                  arr.push(obj);
              })
              $('#input-ngan-hang').autocomplete({
                lookup: arr,
              });
          })
          //goi api tinh, thanh pho viet nam
          $.ajax({
            url: "https://provinces.open-api.vn/api/"
          })
          .done(res=>{
            let arr = [];
            function showTinh(tinh){
              let arr1 = tinh.split("Tỉnh");
              let arr2 = tinh.split("Thành phố");
              if(arr1.length>1){
                return arr1[1];
              }else if(arr2.length>1){
                return arr2[0];
              }
            }
            res.map(item=>{
              let obj = {
                value: showTinh(item.name)
              }
              arr.push(obj);
            })
            $("#input-chi-nhanh-ngan-hang").autocomplete({
                lookup: arr
            })
          })
        }
        addApiCoSan()
      }
    </script>
</body>
<html>
