<!DOCTYPE html>
<html dir="ltr" lang="en">
@Html.Partial("layout/Header")

<body>
    @Html.Partial("layout/TopBar")
    @Html.Partial("layout/LeftBar")
    <style>
        #table-data tr th{
            background-color: #34b7eb;
            color: black;
            font-size: 16px;
            border: 1px solid #d7d7d7;
            padding: 0px 10px;
            text-align: center;
        }
        #table-data tr td{
            color: black;
            border: 1px solid #d7d7d7;
            padding: 10px 0px;
        }
        #table-data .row-stt{
            text-align: center;
        }
        #table-data .row-ma-phieu{
            padding: 2.5px 10px;
        }
        #table-data .row-ten-bp{
            text-align: center;
        }
         #table-data .row-dien-giai{
            padding: 2.5px 10px;
        }
        #table-data .nguoi-yeu-cau{
            text-align: center;
        }
        #table-data .row-status{
            text-align: center;
        }
        #container-table{
            overflow: scroll;
        }
        #table-filter tbody tr td{
            padding: 10px 5px;
        }
        .form-check-input:hover{
            cursor: pointer;
        }
    </style>
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        @* <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Tables</h4>
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Library
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div> *@
        <div id="container-filter" style="width: 100%; display: flex;">
            <input oninput="search(this)" placeholder="Tìm kiếm theo mã phiếu, thời gian lập phiếu, tên bộ phận, diễn giải, người yêu cầu" type="search" id="search" class="form-control"/>
            <div class="filter" style="display: flex;">
                <button onclick="xoaFilter('status', this)" class="btn btn-info btn-filter" style="width: 130px; display: none;" id="show-status"></button>
                <button onclick="xoaFilter('time-phieu-from; time-phieu-to',this)" class="btn btn-info btn-filter" style="width: 200px; display: none;" id="show-time"></button>
                <button onclick="xoaFilter('filter-select',this)" class="btn btn-info btn-filter" style="width: 130px; display: none;" id="show-select"></button>
            </div>
            <button class="btn btn-primary" style="width: 10%;" data-bs-toggle="modal" data-bs-target="#filter">BỘ LỌC</button>
        </div>
        <div>
            <table class="table" id="table-data" data-show-columns="true">
                <thead>
                    <th></th>
                    <th style="padding: 0px 10px;">STT</th>
                    <th>MÃ PHIẾU</th>
                    <th style="min-width: 280px;">TÊN BỘ PHẬN</th>
                    <th>DIỄN GIẢI</th>
                    <th style="min-width: 200px;">NGƯỜI YÊU CẦU</th>
                    <th style="min-width: 200px;">TRẠNG THÁI</th>
                </thead>
                <tbody>
                    @{var id=1;}
                        @foreach(var phieuFast in ViewBag.listPhieuFast){
                            @if(ViewBag.listPhieuDaDuyet.Count == 0){
                                <tr search="true" show="true" id="rows-@id">
                                    <td><input type="checkbox" class="form-check-input row-check"/></td>
                                    <td style="display: none;" class="row-time-ma-phieu">@phieuFast.ngay_ct.ToString("yyyy-MM-dd")</td>
                                    <td class="row-stt">@id</td>
                                    <td class="row-ma-phieu">
                                        <a class="ma-phieu" href="#" onclick="directChitiet('@phieuFast.stt_rec', '@phieuFast.ngay_ct.ToString("yyyyMM")', '@phieuFast.u1', '@id', this, '@phieuFast.ngay_ct.ToString("yyyy-MM-dd")')">@phieuFast.stt_rec @phieuFast.ngay_ct.ToString("dd/MM/yyyy")</a>
                                    </td>
                                    <td class="row-ten-bp">@phieuFast.ten_bp</td>
                                    <td class="row-dien-giai">
                                        <a class="dien-giai" href="#" onclick="directChitiet('@phieuFast.stt_rec', '@phieuFast.ngay_ct.ToString("yyyyMM")', '@phieuFast.u1', @id, this, '@phieuFast.ngay_ct.ToString("yyyy-MM-dd")')">@phieuFast.dien_giai</a>
                                    </td>
                                    <td class="nguoi-yeu-cau">@phieuFast.u1</td>
                                    <td class="row-status" style="color: red">CHƯA DUYỆT</td>
                                    <td class="row-code-year" style="display: none;">@phieuFast.ngay_ct.ToString("yyyyMM")</td>
                                    <td class="row-code-year" style="display: none;">@phieuFast.ngay_ct.ToString("yyyyMM")</td>    
                                </tr>
                                id++;
                            }else{
                                var isDupplicate = false;
                                foreach(var phieuDaDuyet in ViewBag.listPhieuDaDuyet){
                                    @if(phieuFast.stt_rec==phieuDaDuyet.MaPhieu){
                                        isDupplicate = true;
                                        <tr search="true" show="true" id="rows-@id" style="background-color: #80808036;">
                                            <td>
                                                
                                            </td>
                                            <td style="display: none;" class="row-time-ma-phieu">@phieuFast.ngay_ct.ToString("yyyy-MM-dd")</td>
                                            <td class="row-stt">@id</td>
                                            <td class="row-ma-phieu">
                                                <span class="ma-phieu">@phieuFast.stt_rec @phieuFast.ngay_ct.ToString("dd/MM/yyyy")</span>
                                            </td>
                                            <td class="row-ten-bp">@phieuFast.ten_bp</td>
                                            <td class="row-dien-giai">
                                                <span class="dien-giai">@phieuFast.dien_giai</span>
                                            </td>
                                            <td class="nguoi-yeu-cau">@phieuFast.u1</td>
                                            <td class="row-status" style="color: green">ĐÃ DUYỆT</td>
                                            <td class="row-code-year" style="display: none;">@phieuFast.ngay_ct.ToString("yyyyMM")</td>
                                        </tr>
                                        id++;
                                    }
                                }
                                @if(isDupplicate==false){
                                    <tr id="rows-@id" show="true" search="true">
                                        <td><input type="checkbox" class="form-check-input row-check" /></td>
                                        <td style="display: none;" class="row-time-ma-phieu">@phieuFast.ngay_ct.ToString("yyyy-MM-dd")</td>
                                        <td class="row-stt">@id</td>
                                        <td class="row-ma-phieu">
                                            <a class="ma-phieu" href="#" onclick="directChitiet('@phieuFast.stt_rec', '@phieuFast.ngay_ct.ToString("yyyyMM")', '@phieuFast.u1', '@id', this, '@phieuFast.ngay_ct.ToString("yyyy-MM-dd")')">@phieuFast.stt_rec @phieuFast.ngay_ct.ToString("dd/MM/yyyy")</a>
                                        </td>
                                        <td class="row-ten-bp">@phieuFast.ten_bp</td>
                                        <td class="row-dien-giai">
                                            <a class="dien-giai" href="#" onclick="directChitiet('@phieuFast.stt_rec', '@phieuFast.ngay_ct.ToString("yyyyMM")', '@phieuFast.u1', '@id', this, '@phieuFast.ngay_ct.ToString("yyyy-MM-dd")')">@phieuFast.dien_giai</a>
                                        </td>
                                        <td class="nguoi-yeu-cau">@phieuFast.u1</td>
                                        <td class="row-status" style="color: red">CHƯA DUYỆT</td>
                                        <td class="row-code-year" style="display: none;">@phieuFast.ngay_ct.ToString("yyyyMM")</td>
                                    </tr>
                                    id++;
                                }
                            }
                            
                        }
                </tbody>
            </table>
            <button style="width: 100%;" class="btn btn-primary" onclick="showDialogXacNhanPheDuyet()">XÁC NHẬN</button>
        </div>
        <!-- Filter -->
        <div class="modal fade" id="filter" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="static`BackdropLabel">BỘ LỌC</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table style="margin: 0 auto;" id="table-filter">
                    <tbody>
                        <tr>
                            <td style="font-weight: bold;">THỜI GIAN: </td>
                            <td>
                                <label>TỪ:</label>
                                <input style="width: 100%;" type="date" id="time-phieu-from" class="form-control"/>
                            </td>
                            <td>
                                <label>ĐẾN:</label>
                                <input style="width: 100%;" type="date" id="time-phieu-to" class="form-control"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">TRẠNG THÁI: </td>
                            <td colspan="2">
                                <select style="width: 100%;" class="form-select" id="status">
                                    <option value="" disabled selected>---CHỌN TRẠNG THÁI---</option>
                                    <option value="ĐÃ DUYỆT">ĐÃ DUYỆT</option>
                                    <option value="CHƯA DUYỆT">CHƯA DUYỆT</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">CHỌN: </td>
                            <td colspan="2">
                                <select style="width: 100%;" class="form-select" id="filter-select">
                                    <option value="" disabled selected>---CHỌN---</option>
                                    <option value="ĐÃ CHỌN">ĐÃ CHỌN</option>
                                    <option value="CHƯA CHỌN">CHƯA CHỌN</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ĐÓNG</button>
                <button type="button" class="btn btn-primary" onclick="filter()">XÁC NHẬN</button>
            </div>
            </div>
        </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    @Html.Partial("layout/Footer")
    <script>
        function directChitiet(code, codeYear, nguoiDeNghi, index, param, dateDeNghi){
            let idRowSelected = $(param).parent().parent().attr("id");
            let dienGiai = $(`#table-data #${idRowSelected} .row-dien-giai`).text().trim();
            let info = {
                dienGiai,
                tenBp: $($(".row-ten-bp")[index-1]).text(),
                code, 
                codeYear, 
                nguoiDeNghi,
            }
            localStorage.setItem("info",JSON.stringify(info));
            window.location.href = `phieu-de-nghi/chi-tiet?code=${code}&codeYear=${codeYear}&nguoiDeNghi=${nguoiDeNghi}&dateDeNghi=${dateDeNghi}`;
        }
        //dung de search tai o search
        let isTimeOut = false;
        function search(param){
            if(isTimeOut==false){
                isTimeOut = true;
                setTimeout(()=>{
                    filter();
                    isTimeOut = false;
                },900);  
            }
        }
        
        let filterVal = {time:"", status:"", search:"", select:""};
        // ham loc
        let listFilter = [];
        function dataFilter(){
            let rows = $("#table-data tbody tr");
            for(let i=0; i<rows.length; i++){
                let filter = {};
                filter.Id = i+1;
                filter.DateDeNghi = $($("#table-data tbody tr .row-time-ma-phieu")[i]).text().trim();
                filter.MaPhieu = $($("#table-data tbody tr .ma-phieu")[i]).text().trim().split(" ")[0];
                filter.TenBoPhan = $($("#table-data tbody tr .row-ten-bp")[i]).text().trim();
                filter.DienGiai = $($("#table-data tbody tr .dien-giai")[i]).text().trim();
                filter.TenNguoiDeNghi = $($("#table-data tbody tr .nguoi-yeu-cau")[i]).text().trim();
                filter.CodeYear = $($("#table-data tbody tr .row-code-year")[i]).text().trim();
                filter.ListVatTuChangeSoLuong = [];
                filter.Status = $($("#table-data tbody tr .row-status")[i]).text().trim();
                filter.CreatedAt = getCookie("id");
                filter.UpdatedAt = getCookie("id");
                filter.Select = $($("#table-data tbody tr .row-check")[i]).prop('checked');
                
                listFilter.push(filter);
            }
        }
        dataFilter();
        function filter(){
            let rows = $("#table-data tbody tr");
            for(let i=0; i<listFilter.length; i++){
                let isSelect = $($("#table-data tbody tr .row-check")[i]).prop('checked');
                listFilter[i].Select = isSelect
            }

            let timeFrom = $("#time-phieu-from").val() ? $("#time-phieu-from").val()?.split("-").reverse().join("/") : null;
            let timeTo = $("#time-phieu-to").val() ? $("#time-phieu-to").val()?.split("-").reverse().join("/") : null;
            
            filterVal.time = timeFrom || timeTo ? `${timeFrom}-${timeTo}` : null;
            filterVal.status = $("#status").val()||null;
            filterVal.search = $("#search").val()?.trim()||null;
            filterVal.select = $("#filter-select").val()||null;
            for(let key of Object.keys(filterVal)){
                if(key!="search" && filterVal[key]){
                    let str = filterVal[key]+" "+"X";
                    $(`#show-${key}`).text(str);
                    $(`#show-${key}`).css("display","");
                }
            }
            
            let paramFilter = {
                Select: $("#filter-select").val()?.trim(),
                Search: $("#search").val()?.trim(),
                TimeFrom: $("#time-phieu-from").val()||null,
                TimeTo: $("#time-phieu-to").val()||null,
                Status: filterVal.status,
                ListFilters: listFilter,
            }

            //loc
            $.ajax({
                url: host + "/api/phieu-nhan-vat-tu/filter",
                "headers": {
                    "Content-Type": "application/json"
                },
                method: "POST",
                data: JSON.stringify(paramFilter)
            })
            .done(res=>{
                let rows = $("#table-data tbody tr");
                let stt = $("#table-data tbody tr .row-stt")
                let x = 1;
                for(let i=0; i<rows.length; i++){
                    if(res.length==0){
                        $(rows[i]).css("display","none")
                    }else{
                        for(let j=0; j<res.length; j++){
                            let id = $(rows[i]).attr("id").split("-")[1];
                            if(res[j]["id"]==id){
                                $(rows[i]).css("display","");
                                $(stt[i]).text(x);
                                x++;
                                break;
                            }else if(j==res.length-1){
                                $(rows[i]).css("display","none")
                            }
                        }
                    }
                }
            })
            $(`#filter .btn-close`).click();
        }
        
        function xoaFilter(value, element){
            filterVal[value] = "";
            $(element).css("display","none");
            //reset input loc
            let listStr = value.split(";")
            for(let i=0; i<value.length; i++){
                $(`#${listStr[i]}`).val("");
            }
            filter();
            resetStt();
        }
        //render data theo truong loc
        let arrFilter = [];
        function renderDataTheoFilter(){
            let rowTime = $("#table-data tbody tr .row-time-ma-phieu");
            let rowStatus = $("#table-data tbody tr .row-status");
            let rows = $("#table-data tbody tr");

            arrFilter = [];

            for(let key of Object.keys(filterVal)){
                if(filterVal[key]){
                    arrFilter.push(key);
                }
            }

            resetRow();
            for(let i=0; i<rows.length; i++){
                let obj = {
                    time : $(rowTime[i]).text().split("-").reverse().join("/"),
                    status : $(rowStatus[i]).text()
                }
                if($(rows[i]).attr("search")=="true"){
                    for(let j=0; j<arrFilter.length; j++){
                        let keyFilter = arrFilter[j];
                        if($(rows[i]).css("display")!="none"){
                            if(obj[keyFilter] && filterVal[keyFilter] == obj[keyFilter]){
                                $(rows[i]).css("display","");
                                $(rows[i]).attr("show","true");
                            }else{
                                $(rows[i]).css("display","none");
                                $(rows[i]).attr("show","false");
                            }
                        }
                    }
                }
            }
            //hien het toan bo thong tin khi khong co gia tri can loc
            if(arrFilter.length==0){
                for(let i=0; i<rows.length; i++){
                    $(rows[i]).css("display","");
                    $(rows[i]).attr("show","true");
                }
            }
            
        }
        function resetRow(){
            let rows = $("#table-data tbody tr");
            for(let i=0; i<rows.length; i++){
                $(rows[i]).css("display","");
            }
            
        }
        function resetStt(){
            let stt = $("#table-data tbody tr .row-stt");
            let rows = $("#table-data tbody tr");
            let t = 1;
            for(let i=0; i<rows.length; i++){
                if($(rows[i]).css("display")!="none"){
                    $(stt[i]).text(t);
                    t++;
                }
            }
        }
        function callApiPheDuyet(){
            let rows = $("#table-data tbody tr");
            for(let i=0; i<listFilter.length; i++){
                let isSelect = $($("#table-data tbody tr .row-check")[i]).prop('checked');
                listFilter[i].Select = isSelect
            }
            listFilter = listFilter.filter(item=>item.Select==true);
            if(listFilter.length == 0){
                Swal.fire({
                    icon: "warning",
                    title: "Cảnh báo",
                    text: "Không có phiếu nào được chọn !",
                    footer: ''
                });
            }else{
                $.ajax({
                    url: host + "/api/phieu-nhan-vat-tu-da-duyet",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    method: "POST",
                    data: JSON.stringify(listFilter) 
                })
                .done(res=>{
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "Phê duyệt thành công",
                        showConfirmButton: false,
                        timer: 1500
                    })
                    .then(()=>{
                        location.reload();
                    });
                })
                .fail(err=>{
                    Swal.fire({
                        position: "center",
                        icon: "error",
                        title: "Phê duyệt thất bạis",
                        showConfirmButton: false,
                        timer: 1500
                    });
                })
            }
        }
        function showDialogXacNhanPheDuyet(){
            Swal.fire({
                icon: "question",
                title: "Bạn chắc chắn rằng các phiếu đã chọn đã đươc phê duyệt",
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: "Xác nhận",
                denyButtonText: `Hủy`
            }).then((result) => {
                if (result.isConfirmed) {
                    callApiPheDuyet();
                } else if (result.isDenied) {
                    
                }
            });
        }
        $("#table-data").on("contextmenu",(e)=>{
            e.preventDefault();
            showDialogXacNhanPheDuyet()
        })
    </script>
</body>
<html>
